.header {
    background-color: $black-color;
    margin-bottom: $m-size;
    padding: $m-size 0;
    color: $white-color;
}
// naming convention , BEM - block element modifier
.header__title {
    font-size: $l-size;
    margin: 0;
} 

.header__subtitle {
    color: $light-green-color;
    font-size: $m-size;
    font-weight: 500;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}