// colors
$black-color: #081019;
$white-color: #FFFAFF;
$light-blue-color: #464b5e;
$dark-blue-color: #333745;
$blue-color: #3c4251;
$light-pink-color: #EF94BF;
$super-light-pink-color: #EFC2D7;
$light-green-color: lighten(#BDBF6E, 15%); 
// spacing
// s-size
$s-size: 1.2rem;
// m-size
$m-size: 1.6rem;
// l-size
$l-size: 3.2rem;
// xl-size
$xl-size: 4.8rem;